Kia Ora (hello), Welcome to CoNZealand!

We have just processed your <%= @purchase.name %> membership for CoNZealand. Your member number is <%= @purchase.number %>.

To access our online services and to check that all your data is correct, please use the following link:
<%= @user.login_url %>

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

At any time, you can also return to our membership section and enter your registered email address, and you will be sent an email with a log in link.

Our charge ID for this transaction was <%= @charge.id %>, and it will appear on your statement as coming from “CoNZealand”.

CoNZealand - registration@conzealand.nz
https://conzealand.nz/
